body {
    display: block;
    background-color: #050714;
    height: 100vh;
}

#head {
    width: 100vw;
    height: 11vh;
}

#head a {
    position: fixed;
    background-color: #010104;
    text-decoration: none;
    color: #F7F6F9;
    border: 2px #F7F6F9;
    font-size: 1.2em;
    margin: 0.8%;
    margin-right: 4%;
    border:solid #F7F6F9 0.1px;
    border-radius: 7%;
    padding: 1.3vh 1.4vw;
    opacity: 0.9;
}

#head a:hover{
    color: #010104;
    background-color: #F7F6F9;
}

#signature {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 44vw;
    height: 60vh;   
    margin-left: 5vw;
    margin-top: 4vh;
    color: #F7F6F9;
    text-decoration: none;
    justify-content: space-around;
}
 
#signature img {
    width: 310px;
    height: 173px;
}

#signature #btn-signature {
    position: relative;
    width: 100%;
    padding: 18px 0px;
    text-align: center;
    background-color: #6421FF;
    color: #F7F6F9;
    border-radius: 0.2em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

#signature #btn-signature:hover {
   background-color: #6a36e4; 
}

#signature #row span{
    color: #F7F6F9;
    text-decoration: underline;
    font-size: 1.1em;
}

#img-background{
    position: absolute;
    top: 0px;
    right: 0vw;
    width: 90vw;
    height: 100vh;
    z-index: -1;
    background-color: white;
}

#img-background img{
    width: 100%;
    height: 100%;
}
